html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    
}

/***** FONTS ******/

.barlow {
    font-family: 'Barlow', sans-serif;
}
.fraunces {
    font-family: 'Fraunces', serif;
}


/***** GRID LAYOUT ******/
.grid--desktop {
    display: grid;
    grid-template: 1fr min-content .5fr min-content / 1fr;
}


/***** HEADER LAYOUT ******/
.header--background {
    background-image: url(/images/desktop/image-header.jpg);
    background-position: 50% 60%;
    background-size: cover;
    background-repeat: no-repeat;
}
.header--white-text {
    color: #fff;
}
.wrapper {
    display: flex;
    place-content: space-between;
    place-items: center;
    padding: 0 2em;
}
.wrapper__h2 {
    font-weight: 900;
}
.nav__ul {
    display: flex;
    gap: 2em;
}
.nav__li {
    padding: .6em 1.5em;
    list-style: none;
}
.nav__li:hover {
    background: #fff;
    border-radius: 1em;
    color: black;
    font-family: 'Fraunces', serif;
}

/***** WELCOME LAYOUT ******/

.title {
    text-align: center;
    margin: 8em 0 20em 0;
}


/***** MAIN LAYOUT ******/

.main--two-column {
    grid-template: auto/50% 50%;
}
.main__img {
    width: 100%;
    height: 100%;
}
.main__square {
    display: flex;
    flex-flow: column nowrap;
    place-content: center;
    padding: 0 10em;
}
.color-grey {
    color: #85858d;
}
.main__button {
    margin: 2em 1em;
    align-self: flex-start;
    border: none;
    background-color: transparent;
}
.main__button::after {
    content: " ";
    display: block;
    width: 100%;
    height: .5em;
    /* background-color: #fef5b7; */
    border-radius: 10px;
    position: relative;
    top: -22%;
    z-index: -1;
}

/* 
    Cherry and Orange Styles
*/

.main__img-and-text {
        display: grid;
        grid-template: .6fr .2fr .2fr / 1fr;
}
.main__img-grid-span {
    grid-area: 1/1/4/2;
}

.main__txt-grid-bottom {
    grid-area: 2/1/4/2;
}
.main__txt-padding {
    padding: .5em 18.5em;
}
.main__section-title {
    margin: 1em 0;
}
.main__section-txt {
    font-size: .9em;
    line-height: 1.6;
}

.main__section-title-cherry {
    color: #215348;
}
.main__section-txt-cherry {
    color:#3d796d;
}
.main__section-title-orange {
    color: #164e67;
}
.main__section-txt-orange {
    color:#0d5676;
}

/*
    TESTIMONIALS
*/

.main__testimonials {
    grid-area: 4/1/5/3;
    padding: 12em 0 ;
}
.main__testimonials-title-lett-space {
    letter-spacing: .3em ;
}
.main__gallery {
    grid-area: 5/1/6/3;
}
/***** FOOTER LAYOUT ******/
.footer {
    grid-area: 3/1/4/2;
    background-color: #90d4c5;
}
.attribution {
    grid-area: 4/1/5/2;
}



/***** UTILITIES *******/
.grid {
    display: grid;
}
.flex {
    display: flex;
}
.yellow::after {
    background-color: #fef5b7;
}
.red::after {
    background-color: #ffd8d1;
}
.txt-center {
    text-align: center;
}
.flex-column {
    flex-direction: column;
}
.align-start {
    align-self: start;
}
.flex__img {
    width: 100%;
    height: auto;
}
.center-items {
    place-items: center;
}
.uppercase {
    text-transform: uppercase;
}
.font-2em {
    font-size: 2em;
}
.font-3em {
    font-size: 3em;
}
