*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 18px;   
}

img,
picture {
  max-width: 100%;
  display: block;
}

/***** FONTS ******/

.barlow {
    font-family: 'Barlow', sans-serif;
}
.fraunces {
    font-family: 'Fraunces', serif;
}


/***** GRID LAYOUT ******/
.grid--desktop {
    display: grid;
    grid-template: 1fr min-content .5fr min-content / 1fr;
}


/***** HEADER LAYOUT ******/
.header--background {
    background-image: url(/images/desktop/image-header.jpg);
    background-position: 50% 60%;
    background-size: cover;
    background-repeat: no-repeat;
}
.header--white-text {
    color: #fff;
}
.wrapper {
    display: flex;
    place-content: space-between;
    place-items: center;
    padding: 0 2rem;
}
.wrapper__h2 {
    font-weight: 900;
}
.nav__ul {
    display: flex;
    gap: 1.5rem;
    place-items: center;
}
.nav__li {
    padding: .7rem 2rem;
    list-style: none;
    flex: 1;
    cursor: pointer;
}
.nav__link {
    background: #fff;
    border-radius: 2rem;
    color: black;
    font-size: 17px;
    font-family: 'Fraunces', serif;
}
.nav__link:hover {
    background: #6eceff;
    color: #fff;
}

/***** WELCOME LAYOUT ******/

.title {
    text-align: center;
    min-height: 40vw;
    grid-template: 1fr .7fr 1fr /auto;
}
.title__h1-place-self {
    place-self: center;
}
.title__arrow {
    margin: 0 auto;
}


/***** MAIN LAYOUT ******/

.main--two-column {
    grid-template: auto / 1fr 1fr;
}
.main__img {
    width: 100%;
    height: 100%;
}
.main__square {
    grid-template: 1fr .3fr .3fr .3fr 1fr /.5fr 1fr .6fr;;
}
.main__title {
    font-weight: 900;
    grid-area: 2/2;
}
.main__text {
    padding: 2rem 0 0 0;
    grid-area: 3/2;
}
.main__button {
    grid-area: 4/2;
    margin: 2em .5em;
    border: none;
    background-color: transparent;
    justify-self: start;
    cursor: pointer;
    font-size: medium;
}
.main__button::after {
    content: " ";
    display: block;
    width: 100%;
    height: .5em;
    border-radius: 10px;
    position: relative;
    top: -26%;
    z-index: -1;
}

/* 
Cherry and Orange Styles
*/

.main__img-and-text {
    display: grid;
    grid-template: .6fr .2fr .2fr / .8fr 1fr .8fr;
}
.main__img-grid-span {
    grid-area: 1/1 / -1/-1;
}

.main__txt-grid-bottom {
    grid-area: 2/2/4/3;
}
.main__section-title {
    margin: 1em 0;
}
.main__section-txt {
    font-size: .9em;
    line-height: 1.6;
}

.main__section-title-cherry {
    color: #215348;
}
.main__section-txt-cherry {
    color:#3d796d;
}
.main__section-title-orange {
    color: #164e67;
}
.main__section-txt-orange {
    color:#0d5676;
}

/*
TESTIMONIALS
*/

.testimonials {
    grid-template: .9fr 1fr .6fr /.2fr 1fr .2fr;

    grid-area: 4/1/5/3;
}
.testimonials__title {
    letter-spacing: .3rem ;
    padding: 0 0 3rem 0;
    align-self: end;
    grid-area: 1/2;
}
.testimonials__container {
    grid-area: 2/2;
}
.testimonials__avatar {
    height: 4rem;
    border-radius: 50%;
    margin: 0 0 3em 0;
}
.testimonials__text {
    padding: 0 2rem;
    margin: 1rem 0 2rem;
    font-weight: bold;
}
.testimonials__person {
    place-content: space-between;
}
.testimonials__person-name {
    font-weight: 900;
    margin: 1rem 0 .5rem;
}
.testimonials__person-occupation {
    font-size: small;
    margin: .2rem 0 1rem;
}
/*
GALLERY
*/

.main__gallery {
    grid-area: 5/1/6/3;
}
/***** FOOTER LAYOUT ******/
.footer {
    grid-area: 3/1/4/2;
    background-color: #90d4c5;
}
.footer__logo {
    color: #2b7365;
    font-weight: 900;
}
.footer__menu {
    list-style: none;
    cursor: pointer;
    place-content: center;
    gap: 3em;
    padding: 0;
    color: #428979
}
.attribution {
    grid-area: 4/1/5/2;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
}



/***** UTILITIES *******/
.grid {
    display: grid;
}
.flex {
    display: flex;
}
.yellow::after {
    background-color: #fef5b7;
}
.red::after {
    background-color: #ffd8d1;
}
.txt-center {
    text-align: center;
}
.flex-column {
    flex-direction: column;
}
.flex-elastic {
    flex: 1;
}
.align-start {
    align-self: start;
}
.flex__img {
    width: 25%;
    height: auto;
}
.center-items {
    place-items: center;
}
.uppercase {
    text-transform: uppercase;
}
.font-2em {
    font-size: 2em;
}
.font-3em {
    font-size: 3em;
}
.color-dark-grey {
    color: #64656a;
}
.color-grey {
    color: #85858d;
}
.color-light-grey {
    color:#a4a4a4
}
.block {
    display: block;
}
.disable
{
    display: none;
}
.subgrid {
    grid-template: subgrid / subgrid;
}
